<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Evaluate Risk</title>
    <link th:href="@{/css/main.css}" rel="stylesheet" />
</head>
<body>
<h1>Evaluate Risk</h1>
<form action="#" th:action="@{/evaluate-risk}" th:object="${loanApp}" method="post">
    <span th:if="${loanApp.editMode == 'R'}">
        <p><b>Task completed</b></p>
    </span>
    <span th:if="${loanApp.editMode == 'E'}">
        <p>
            <span class="label">Name </span>
            <input type="text" th:field="*{name}" readonly="true" />
        </p>
        <p>
            <span class="label">Amount (£)</span>
            <input type="text" th:field="*{amount}" readonly="true"/>
        </p>
        <p>
            <span class="label">Bank Account </span>
            <input type="text" th:field="*{bankAc}" readonly="true"/>
        </p>
        <p>
            <span class="label">Risk Score (0-10)</span>
            <input type="text" th:field="*{riskScore}"/>
        </p>
        <p>
            <input class="button" type="submit" value="Submit" />
        </p>
    </span>
</form>
</body>
</html>