<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Application</title>
    <link th:href="@{/css/main.css}" rel="stylesheet" />
</head>
<body>
<h1>Application</h1>
<form action="#" th:action="@{/new-application}" th:object="${loanApp}" method="post">
    <span th:if="${loanApp.editMode=='R'}">
        <p><b>Case created</b></p>
    </span>
    <span th:if="${loanApp.editMode == 'E'}">
        <p>
            <span class="label">Name </span>
            <input type="text" th:field="*{name}" />
        </p>
        <p>
            <span class="label">Email </span>
            <input type="text" th:field="*{email}" />
        </p>
        <p>
            <span class="label">Address </span>
            <input type="text" th:field="*{address}" />
        </p>
        <p>
            <span class="label">Amount (£)</span>
            <input type="text" th:field="*{amount}" />
        </p>
        <p>
            <span class="label">Bank Account </span>
            <input type="text" th:field="*{bankAc}" />
        </p>
        <p>
            <input class="button" type="submit" value="Submit" />
        </p>
    </span>
</form>
</body>
</html>