<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Task Management</title>
    <link th:href="@{/css/main.css}" rel="stylesheet" />
</head>
<body>
    <p>
        <a href="/new-application" target="_blank">Create</a> new Loan Application case
    </p>
    <br/>

    <p>Cases: <b>Approve Loan</b></p>
    <table>
        <tr>
            <th>Id</th>
            <th>Work Reference</th>
            <th>Status</th>
        </tr>
        <tr th:each="cs: ${cases}">
            <td th:text="${cs.id}" />
            <td th:text="${cs.key}" />
            <td th:text="${cs.status}" />
        </tr>
    </table>
    <br/><br/>

    <p>Task Queues: <b>Approve Loan</b></p>
    <table>
        <tr>
            <th>Name</th>
            <th>Actor Type</th>
            <th>Task Count</th>
            <th>Actions</th>
        </tr>
        <tr th:each="taskQueue: ${taskQueues}">
            <td th:text="${taskQueue.taskNodeName}" />
            <td th:text="${taskQueue.actorType}" />
            <td th:text="${taskQueue.taskCount}" />
            <td> <a th:if="${taskQueue.taskCount > 0 }" th:href="@{/task-mgmt/claim(processId=approve_loan,taskNodeId=${taskQueue.taskNodeId})}">Claim Task</a> </td>
        </tr>
    </table>
    <br/><br/>

    <p>Worklist: <b>nbiswas</b></p>
    <table>
        <tr>
            <th>Id</th>
            <th>Work Reference</th>
            <th>Type</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>
        <tr th:each="wlTask: ${wlTasks}">
            <td th:text="${wlTask.id}" />
            <td th:text="${wlTask.workData.key}" />
            <td th:text="${wlTask.taskNodeId}" />
            <td th:text="${wlTask.status}" />
            <td> <a th:href="@{${wlTask.executionUrl}}">Open</a> </td>
        </tr>
    </table>

</body>
</html>