<div class="card">
    <h5 class="card-header">Send Documents</h5>
    <div class="card-body">
        <div *ngIf="loanApp">
            <p>Application Id: <b>{{loanApp._id}}</b></p>
            <p>Applicant Name: <b>{{loanApp.applicantName}}</b></p>

            <div *ngIf="taskActive">
                <div class="form-group">
                    <label for="docContent">Document Content</label>
                    <input type="text" class="form-control" name="docContent" [(ngModel)]="loanApp.docContent">
                </div>
                <button type="button" class="btn btn-primary" (click)="submit()">Submit</button>
            </div>
            <div *ngIf="!taskActive">
                <button type="button" class="btn btn-primary" (click)="activateTask()">Activate Task</button>
            </div>
        </div>
    </div>
</div>


