<div class="card">
    <h5 class="card-header">Evaluate Risk</h5>
    <div class="card-body">
        <div *ngIf="loanApp">
            <p>Application Id: <b>{{loanApp._id}}</b></p>
            <p>Applicant Name: <b>{{loanApp.applicantName}}</b></p>
            <p>Applicant Age: <b>{{loanApp.applicantAge}}</b></p>
            <p>Loan Amount: <b>{{loanApp.loanAmount}}</b></p>

            <div *ngIf="taskActive">
                <div class="form-group">
                    <label for="riskScore">Risk Score</label>
                    <input type="number" class="form-control" name="riskScore" [(ngModel)]="loanApp.riskScore">
                </div>
                <button type="button" class="btn btn-primary" (click)="submit()">Submit</button>
            </div>
            <div *ngIf="!taskActive">
                <button type="button" class="btn btn-primary" (click)="activateTask()">Activate Task</button>
            </div>
        </div>
    </div>
</div>


