<div class="card">
    <h5 class="card-header">Task Management</h5>
    <div class="card-body">
        <div>
            <ngb-tabset>
                <!-- Cases Tab -->
                <ngb-tab title="Cases">
                    <ng-template ngbTabContent>
                        <!-- New Case -->
                        <div class="pt-4">
                            <button *ngIf="!showNewCaseForm" type="button" class="btn btn-primary" (click)="newCaseForm()">Create new Case</button>
                            <div *ngIf="showNewCaseForm">
                                <app-new-case 
                                    [loanApp]="loanApp" 
                                    (submitted)="onNewCaseSubmitted()">
                                </app-new-case>
                            </div>
                        </div>
                        <!-- Open Cases List -->
                        <div class="pt-3">
                            <div class="card">
                                <h6 class="card-header">Cases</h6>
                                <div class="card-body p-2">
                                    <div *ngIf="cases">
                                        <table class="table table-striped">
                                            <thead>
                                                <tr>
                                                    <th scope="col">Key</th>
                                                    <th scope="col">Process Id</th>
                                                    <th scope="col">Create Time</th>
                                                    <th scope="col">Status</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let cs of cases">
                                                    <td><a [routerLink]="['/task-mgmt/case-log', cs.id]" >{{ cs.key }}</a></td>
                                                    <td><a [routerLink]="['/task-mgmt/process-view', cs.processId]" >{{ cs.processId }}</a></td>
                                                    <td>{{ cs.createdAt | date: 'short' }}</td>
                                                    <td>{{ cs.status }}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <br/>
                                        <td><button type="button" class="btn btn-secondary" (click)="refreshCasesTab()">Refresh</button></td>
                                    </div>                     
                                </div>
                            </div>
                        </div>
                    </ng-template>   
                </ngb-tab>
                <!-- Work Management Tab -->
                <ngb-tab>
                    <ng-template ngbTabTitle>
                        <div (click)="tabActivated(2)">Task Distribution</div>
                    </ng-template>
                    <ng-template ngbTabContent>
                        <div class="pt-3">
                            <!-- Task Queues -->
                            <div class="card">
                                <h6 class="card-header">Task Queues</h6>
                                <div class="card-body p-2">
                                    <div *ngIf="taskQueues">
                                        <table class="table table-striped">
                                            <thead>
                                                <tr>
                                                    <th scope="col">Task Queue</th>
                                                    <th scope="col">Actor Type</th>
                                                    <th scope="col">Task Count</th>
                                                    <th scope="col">Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let tq of taskQueues">
                                                    <td>{{ tq.taskNodeName }}</td>
                                                    <td>{{ tq.actorType }}</td>
                                                    <td>{{ tq.taskCount | number }}</td>
                                                    <td><button *ngIf="showClaimTask(tq)" type="button" class="btn btn-secondary" (click)="claimNextTask(tq)">Claim Next</button></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>                     
                                </div>
                            </div>
                            <br/>
                            <!-- Worklist -->
                            <div class="card">
                                <h6 class="card-header">Worklist: <b>Nilanjan Biswas</b></h6>
                                <div class="card-body p-2">
                                    <div *ngIf="taskQueues">
                                        <table class="table table-striped">
                                            <thead>
                                                <tr>
                                                    <th scope="col">Id</th>
                                                    <th scope="col">Type</th>
                                                    <th scope="col">Data</th>
                                                    <th scope="col">Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let t of worklistTasks">
                                                    <td>{{ t.id }}</td>
                                                    <td>{{ t.taskNodeId }}</td>
                                                    <td>{{ t.workDataJson }}</td>
                                                    <td><button type="button" class="btn btn-secondary" (click)="openTask(t)">Open</button></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>                     
                                </div>
                            </div>
                        </div> 
                    </ng-template>       
                </ngb-tab>
            </ngb-tabset>
        </div>
    </div>
</div>