<div class="card">
    <h6 class="card-header">New Case</h6>
    <div class="card-body p-2">
        <form>
            <div class="form-group">
              <label for="applicantName">Applicant Name</label>
              <input type="text" class="form-control" name="applicantName" [(ngModel)]="loanApp.applicantName">
            </div>
            <div class="form-group">
              <label for="applicantAge">Applicant Age</label>
              <input type="text" class="form-control" name="applicantAge" [(ngModel)]="loanApp.applicantAge">
            </div>
            <div class="form-group">
              <label for="loanAmount">Loan Amount</label>
              <input type="text" class="form-control" name="loanAmount" [(ngModel)]="loanApp.loanAmount">
            </div>
            <button type="button" class="btn btn-primary" (click)="submitNewLoanApp()">Submit</button>
          </form>
    </div>
</div>
